* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rubik Bubbles', cursive;
  background-color: cornsilk;
  text-align: center;
  font-size: 20px;
}

/* Style the header */
.header {
  background-color: #7AA095;
  padding: 20px;
  text-align: center;
  color: #FFEED6;
}
.main {
  padding: 20px; 
  
}
.skills {
  padding-top: 80px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;

}

ul {
  list-style-type: none;
}
li {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}
.contact {
  display: inline-block;
  margin: 0 10px;
}

/* */
a {
  text-decoration: none;
} 
/* unvisited link */
a:link {
  color: #235789;
}

/* visited link */
a:visited {
  color: #594157;
}

/* mouse over link */
a:hover {
  color: #726DA8;
}

/* selected link */
a:active {
  color: #30638E;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

